<div *ngIf="film" class="container mt-5">
  <h2>{{film.name | uppercase}} Details</h2>
  <div><span>id: </span>{{film.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="film.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <br>
  <br>
  <br>
  <h2>Buy Ticket</h2>
  <br>
  <div class="border-primary">
    <ul class="list-group border-primary" *ngIf="halls">
      <li class="list-group-item" *ngFor="let r of halls">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" *ngFor="let row of r.row; let i=index">
            <span *ngIf="i==0">{{row.key}}</span>
            <input *ngIf="i!=0" type="button" class="inputs"
                   [name]="row.pr" [value]="row.key"
                   id="{{row.id}}"
                   [class.disabled]="row.disabled" [disabled]="row.disabled"
                   (click)="row.disabled = true;checkVal(row.id)">
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
